html{
    margin: 0;
    padding: 0;
}
body {
    font-family: "Lato", sans-serif;
    background-color: whitesmoke;
}
nav{
    position: fixed;
    z-index: 99;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: #393e82;
}
ul{
    margin-top: 16.5px;
    list-style-type: none;
    display: inline-block;
}
ul button{
    position: relative;
    top: -30px;
}
.logo{
    position: relative;
    text-align: center;
    top:-25px;
    width: 150px;
    height: 150px;
}
.navli{
    display:inline-block;
}
.link{
    color: white;
    margin: 0 15px 0 0;
    font-weight: 400; 
}
a:hover{
    color:  #ebb800;
    text-decoration: none;
}

.right{
    float: right;
  
}
.descript{
    color: white;
    padding: 0 5px 0 5px;
    font-size: 14px;
}
.btn{
    top:0px;
    margin: 0 0 0 5px;
    float: right;
    margin-right: 20px; 
}
.btn-warning{
    font-weight: 600 !important;
}
.makeCenter{
    text-align: center;
}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidebar ul{
    padding: 5px;
}
.sidebar li{
    position: relative; 
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #ebb800;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;
}
.sidebar li:nth-child(2):before {
    background-color: #f25821;   
}
.sidebar li:nth-child(3):before {
    background-color: #c9242b;   
}
.sidebar li:nth-child(4):before {
    background-color: #314190;   
}
.sidebar li:nth-child(5):before {
    background-color: #279636;   
}
.sidebar li:nth-child(6):before {
    background-color: #7d5d81;   
}
.sidebar li:nth-child(7):before{
    background-color: rgb(224, 146, 0);
}
.sidebar li:nth-child(8):before{
  background-color: #dd4b39;
}
.sidebar li:nth-child(9):before{
  background-color: #bb0000;
}
.sidebar li:nth-child(10):before{
  background-color: #125688;
}
.sidebar li:nth-child(11):before{
  background-color: cornflowerblue;
}
.sidebar li:hover:before,
.sidebar li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.sidebar li a {
    display: block !important;
    color: #ddd !important;
    text-decoration: none !important;
    padding: 10px 15px 10px 30px !important;   
}

.sidebar li a:hover,
.sidebar li a:active,
.sidebar li a:focus,
.sidebar li.open a:hover,
.sidebar li.open a:active,
.sidebar li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}
.sidebar .topic {
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    font-size: 24px;
    color: #c9242b;
    display: block;
    font-weight: 800;
    transition: 0.3s;
    margin-bottom: 5px !important;
}

.sidebar a:hover {
    color: #f1f1f1;
}
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    color: white;
    font-size: 36px;
    margin-left: 50px;
}
.closebtn:hover{
    color: white;
    text-decoration: none;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

#main {
    transition: margin-left .5s;
}
footer{
    padding-top: 15px !important;
    position: relative;
    top: 50px;
}
.active {
    color: #ebb800;
  }
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}